<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link href='/static/bootstrap/css/bootstrap.min.css' rel="stylesheet">
<!--
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/button.css">
-->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle"collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </a>

      <a class="brand" href="#">Uliweb Zone</a>

      <div class="nav-collapse">

<ul class="nav">   
<li><a href="/"><span>首页</span></a></li><li><a href="/forum"><span>论坛</span></a></li><li class="active"><a href="/tutorial"><span>教程</span></a></li><li><a href="/class"><span>课程</span></a></li><li><a href="/user/view"><span>管理</span></a></li><li><a href="/about"><span>关于</span></a></li>

</ul>
</style>
    
        <p class="pull-right user_info">
            <a href="/login">登录</a> | <a href="/register">注册</a>
        </p>
    

      </div><!--/.nav-collapse -->

    </div>

  </div>
{%block content%}
{%endblock%}
</div>
